
{% extends "base2.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static '' %}bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}lib/pickadate.css">
 {% endblock %}

{% block title %} Bakery RM Damages{% endblock title %}

{% block content %}

<div class="content-body">
  <!-- Hospital Info cards -->
  <!-- Hospital Info cards -->
  <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
              <div class="card-content">
                  <div class="card-body">
                      <div class="media d-flex">
                          <div class="align-self-center">
                              <i class="la la-user font-large-2 success"></i>
                          </div>
                          <div class="media-body text-right">
                              <h6 class="text-muted text-bold-500">Total Purchases</h6>
                              <h3 class="text-bold-600">{{total_bakery_rm_damages|floatformat:0 }}</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
              <div class="card-content">
                  <div class="card-body">
                      <div class="media d-flex">
                          <div class="align-self-center">
                              <i class="la la-user font-large-2 warning"></i>
                          </div>
                          <div class="media-body text-right">
                              <h6 class="text-muted text-bold-500">Total Direct RM</h6>
                              <h3 class="text-bold-600">{{direct_rm_purchases|floatformat:0 }}</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
              <div class="card-content">
                  <div class="card-body">
                      <div class="media d-flex">
                          <div class="align-self-center">

                              <i class="icon-basket-loaded info font-large-2 float-right"></i>
                          </div>
                          <div class="media-body text-right">
                              <h6 class="text-muted text-bold-500">Total Indirect RM</h6>
                              <h3 class="text-bold-600">{{indirect_rm_purchases|floatformat:0 }}</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-12">
          <div class="card pull-up">
              <div class="card-content">
                  <div class="card-body">
                      <div class="media d-flex">
                          <div class="align-self-center">
                              <i class="la la-bed font-large-2 danger"></i>
                          </div>
                          <div class="media-body text-right">
                              <h6 class="text-muted text-bold-500"></h6>
                              <h3 class="text-bold-600">{{patisserie_sales}}</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Hospital Info cards Ends -->

  <section id="payments-details">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title float-left">

                    </h4>

                    <form method="GET" action="">
                      <div class="form-row \">
                          <div class="form-group col-md-3 col-lg-3" data-provide="datepicker">
                            <label for="inputPassword4">Start Date</label>
                            <input type="date" class="form-control" id="#publishDateMin" name="start_date">
                          </div>
                          <div class="form-group col-md-3 col-lg-3" data-provide="datepicker">
                            <label for="inputPassword4">End Date</label>
                            <input type="date" class="form-control" id="#publishDateMax" name="end_date">
                          </div>
                      </div>


                      <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                  </form>
                </div>
            </div>
        </div>
      </div>
  </section>


  <section class="row all-contacts">
      <div class="col-12">
          <div class="card">
              <div class="card-head">
                  <div class="card-header">
                      <h4 class="card-title">All RM Damge</h4>
                      <div class="heading-elements mt-0">
                        <a href="{% url 'bakery_accounting:add-bakery-rm-damage' %}">
                          <button class="btn btn-primary btn-sm " data-toggle="#" data-target=""><i class="d-md-none d-block ft-plus white"></i>
                            <i class="ft-plus">Add RM Damage</i>
                          </button>
                        </a>

                          <span class="dropdown">
                              <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i class="ft-download-cloud white"></i></button>
                              <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
                                  <a href="" class="dropdown-item"><i class="ft-upload"></i> Import</a>
                                  <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                  <a href="{% url 'bakery_accounting:bakerysales' %}" class="dropdown-item"><i class="la la-shopping-cart"></i> Sales</a>
                                  <a href="{% url 'bakery_accounting:bakerypayments' %}" class="dropdown-item"><i class="la la-money"></i> Payments</a>
                                  <a href="{% url 'bakery_accounting:bakeryreturns' %}" class="dropdown-item"><i class="la la-repeat"></i> Returns</a>
                              </span>
                          </span>
                          <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                      </div>
                  </div>
              </div>
              <div class="card-content">
                  <div class="card-body">
                      <!-- Task List table -->
                      <button type="button" class="btn btn-sm btn-danger delete-all mb-1">Delete </button>
                      <div class="table-responsive">
                          <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                              <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Return Id</th>

                                    <th>Category</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Cost Price</th>
                                    <th>Total Amount</th>
                                    <th>Actions</th>

                                  </tr>
                              </thead>
                              <tbody>

                                {% for rm_damage in bakery_rm_damages %}
                                  <tr>
                                      <td>
                                              <div class="media-body media-middle">
                                                  <a   class="media-heading name">{{rm_damage.id}}</a>
                                              </div>
                                      </td>
                                      <td>
                                              <div class="media-body media-middle">
                                                  <a class="media-heading name">{{rm_damage.created_at}}</a>
                                              </div>
                                      </td>

                                      <td>
                                              <div class="media-body media-middle">
                                                  <a href="" class="media-heading name">{{rm_damage.damage_id}}</a>
                                              </div>
                                      </td>

                                      <td class="phone">{{rm_damage.category}}</td>
                                      <td class="phone">{{rm_damage.product}}</td>
                                      <td class="phone">{{rm_damage.qty}}</td>
                                      <td class="phone">{{rm_damage.unit_cost_price|floatformat:0}}</td>
                                      <td class="phone">{{rm_damage.total_cost_price|floatformat:0}}</td>


                                      <td>
                                          <span class="dropdown">
                                              <a id="btnSearchDrop2" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle dropdown-menu-right"><i class="la la-ellipsis-v"></i></a>
                                              <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">
                                                  <a data-toggle="modal" data-target="#EditContactModal" class="dropdown-item edit"><i class="ft-edit-2"></i>
                                                      Edit</a>
                                                  <a href="{% url 'bakery_accounting:edit-bakery-rm-damage' rm_damage.id %}" class="dropdown-item delete"><i class="ft-edit-2"></i> Edit</a>
                                                  <a href="" class="dropdown-item delete"><i class="ft-trash-2"></i> Delete</a>

                                              </span>
                                          </span>
                                      </td>
                                  </tr>
                                  {% endfor %}

                              </tbody>
                              <tfoot>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Return Id</th>

                                    <th>Category</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Cost Price</th>
                                    <th>Total Amount</th>
                                    <th>Actions</th>

                                  </tr>
                              </tfoot>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>

{% endblock content %}
  <script src="{% static '' %}lib/picker.js"></script>
  <script src="{% static '' %}lib/picker.date.js"></script>
  <script src="{% static '' %}lib/legacy.js"></script>

  <script type="text/javascript">
      $("#id_due_date").pickadate({format: 'yyyy-mm-dd' }).val();
</script>

{% block script %}

 {% endblock %}
