
{% extends "base2.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static '' %}bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}lib/pickadate.css">
 {% endblock %}

{% block title %} Add Task{% endblock title %}

{% block content %}

<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="basic-layout-form">Task Form</h3>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <p></p>
                            </div>

                            <form class="form" method="post" novalidate>
                              {% csrf_token %}

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Date</label>
                                          {% render_field form.created class="form-control" placeholder="Date" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Title</label>
                                          {% render_field form.title class="form-control" placeholder="Title" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Author</label>
                                        {% render_field form.author class="form-control" placeholder="" %}
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Department</label>
                                        {% render_field form.department class="form-control" placeholder="" %}
                                    </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Designated Employee</label>
                                        {% render_field form.employee class="form-control" placeholder="" %}
                                    </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="projectinput1">Description</label>
                                        {% render_field form.description class="form-control" placeholder="" %}
                                    </div>
                                  </div>
                              </div>

                              <div class="row">
                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">instruction1 </label>
                                      {% render_field form.instruction1 class="form-control" placeholder="" %}
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">instruction2 </label>
                                      {% render_field form.instruction2 class="form-control" placeholder="" %}
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">instruction3 </label>
                                      {% render_field form.instruction3 class="form-control" placeholder="" %}
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">instruction4 </label>
                                      {% render_field form.instruction4 class="form-control" placeholder="" %}
                                  </div>
                                </div>

                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">instruction5 </label>
                                      {% render_field form.instruction5 class="form-control" placeholder="" %}
                                  </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-9">
                                  <div class="form-group">
                                      <label for="projectinput1">Comments</label>
                                      {% render_field form.comments class="form-control" placeholder="" %}
                                  </div>
                                </div>
                            </div>

                              <div class="row">

                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">State</label>
                                      {% render_field form.state class="form-control" placeholder="" %}
                                  </div>
                                </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Priority</label>
                                          {% render_field form.priority class="form-control" placeholder="Product Name" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Due Date</label>
                                          {% render_field form.expiry_date class="form-control" placeholder="" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Updated</label>
                                          {% render_field form.updated class="form-control" placeholder="" %}
                                      </div>
                                  </div>

                              </div>

                                  <div class="form-actions">
                                      <a href="{% url 'task:task-home' %}">
                                      <button type="button" class="btn btn-warning mr-1">
                                          <i class="ft-x"></i> Cancel
                                      </button>
                                    </a>
                                      <button type="submit" class="btn btn-primary">
                                          <i class="la la-check-square-o"></i> Save
                                      </button>
                                  </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>








    </section>
    <!-- // Basic form layout section end -->
</div>

{% endblock content %}
  <script src="{% static '' %}lib/picker.js"></script>
  <script src="{% static '' %}lib/picker.date.js"></script>
  <script src="{% static '' %}lib/legacy.js"></script>

  <script type="text/javascript">
      $("#id_due_date").pickadate({format: 'yyyy-mm-dd' }).val();
</script>

{% block script %}

 {% endblock %}
