
{% extends "base2.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static '' %}bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '' %}lib/pickadate.css">
 {% endblock %}

{% block title %} Add Purchase {% endblock title %}

{% block content %}

<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="basic-layout-form">Bakery Sales Form</h3>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <p></p>
                            </div>

                            <form class="form" method="post" novalidate>
                              {% csrf_token %}

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Date</label>
                                          {% render_field form.created_at class="form-control" placeholder="Date" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Order No</label>
                                        {% render_field form.order_no class="form-control" placeholder="" %}
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Invoice_id</label>
                                        {% render_field form.invoice_id class="form-control" placeholder="" %}
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Supplier</label>
                                        {% render_field form.supplier class="form-control" placeholder="" %}
                                    </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Customer</label>
                                        {% render_field form.customer class="form-control" placeholder="" %}
                                    </div>
                                  </div>
                              </div>

                              <div class="row">

                                <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="projectinput1">Department</label>
                                      {% render_field form.department class="form-control" placeholder="" %}
                                  </div>
                                </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Sub Department</label>
                                          {% render_field form.sub_department class="form-control" placeholder="Address" rows="2" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="projectinput1">Category</label>
                                        {% render_field form.category class="form-control" placeholder="" %}
                                    </div>
                                  </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput1">Session</label>
                                            {% render_field form.session class="form-control" placeholder="Address" rows="2" %}
                                        </div>
                                    </div>
                            </div>

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Product</label>
                                          {% render_field form.product class="form-control" placeholder="0" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Qty</label>
                                          {% render_field form.qty class="form-control" placeholder="0" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Cost Price</label>
                                          {% render_field form.cost_price class="form-control" placeholder="0" %}
                                      </div>
                                  </div>



                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Total Amount (Calculated Field)</label>
                                          {% render_field form.total_amount class="form-control" placeholder="0" %}
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Discount</label>
                                          {% render_field form.discount class="form-control" placeholder="Transaction Description" rows="2" %}
                                      </div>
                                  </div>
                              </div>


                              <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="projectinput1">Discount Value (Calculated Field)</label>
                                        {% render_field form.discount_value class="form-control" placeholder="Transaction Description" rows="2" %}
                                    </div>
                                </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="projectinput1">Net Amount (Calculated Field)</label>
                                          {% render_field form.net_amount class="form-control" placeholder="account debit" %}
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="projectinput1">Commission</label>
                                          {% render_field form.commission class="form-control" placeholder="account cr" %}
                                      </div>
                                  </div>

                              </div>


                                  <div class="form-actions">
                                      <a href="{% url 'bakery_accounting:bakerysales' %}">
                                      <button type="button" class="btn btn-warning mr-1">
                                          <i class="ft-x"></i> Cancel
                                      </button>
                                    </a>
                                      <button type="submit" class="btn btn-primary">
                                          <i class="la la-check-square-o"></i> Save
                                      </button>
                                  </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>








    </section>
    <!-- // Basic form layout section end -->
</div>

{% endblock content %}
  <script src="{% static '' %}lib/picker.js"></script>
  <script src="{% static '' %}lib/picker.date.js"></script>
  <script src="{% static '' %}lib/legacy.js"></script>

  <script type="text/javascript">
      $("#id_due_date").pickadate({format: 'yyyy-mm-dd' }).val();
</script>

{% block script %}

 {% endblock %}
